<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="POST">
        <input type="email" placeholder="tu email" name="email">
        <input type="password" name="pass" placeholder="tu contraseña">
        <input type="checkbox" name="recordar" id="recordar">
        <label for="recordar">Recordarme</label>
        <button type="submit">Ingresar</button>
    </form>

    <!-- MUESTRO LOS ERRORES -->

    <% if (typeof errores != "undefined") { %>
        <ul>
            <% errores.forEach(error => { %>
                <li><%= error.msg %> </li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>